<main>
  <h1>Can't think of a name for your pub?</h1>
  <input type='submit' value='Go!' id='submit-button'>
  <section id='results'></section>
</main>

<footer>
  <a href='https://github.com/deniseyu/pub-namer'>source code</a>
</footer>